 @{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alışverişin en doğru adresi     </h1>
    <p class="lead">Bebeğiniz için en kalitelisi</p>
    <p><a href="http://localhost:58735/Account/Login?returnUrl=%2F" class="btn btn-primary btn-lg">Alışverişiniz için en iyisi &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ürünlerimiz</h2>
        <p>
            1 yıl garantili olup,para iadesi yapılmaktadır.
        </p>
        <p><a class="btn btn-default" href="https://www.google.com.tr/search?q=rottweiller+yavru&tbm=isch&source=iu&ictx=1&fir=0Ie_w9_DZkrXzM%253A%252CnVP6iw2uVoE99M%252C_&usg=__kA3XxmHUXFDj_HJYytqiueVWytE%3D&sa=X&ved=0ahUKEwiH7u3bnZrbAhViMZoKHQUKAjQQ9QEIKTAA#imgrc=0Ie_w9_DZkrXzM:">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Her daim güvenilir hizmet</h2>
        <p>2011 den beri sizin ve bebeğiniz için çalışıyoruz</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Daha kaliteli ve hesaplısı yok</h2>
        <p>Toptan fiyatına parekende satış.Daha ucuzunu bulun biz alalım</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>